In [1]:
##import packages here
import pandas as pd
import numpy as np

# We'll use this later
from numpy import meshgrid

## For plotting
import matplotlib.pyplot as plt
import seaborn as sns

## This sets the plot style
## to have a grid on a white background
sns.set_style("whitegrid")

In [2]:
df = pd.read_csv('dff2.csv')
# df = df.rename(columns= {'Close': 'y'})
# 
df

,ds,y,tby,ffr,fta,eps,div,une,fbsp,diff
0,2003-01-02,909.03,4.07,1.24,732202.0,40.40,1.79,5.8,836.294583,72.735417
1,2003-01-03,908.59,4.05,1.24,732202.0,40.40,1.79,5.8,837.214482,71.375518
2,2003-01-06,929.01,4.09,1.24,732202.0,40.40,1.79,5.8,840.754210,88.255790
3,2003-01-07,922.93,4.04,1.24,732202.0,40.40,1.79,5.8,844.239516,78.690484
4,2003-01-08,909.93,4.00,1.24,724902.0,40.40,1.79,5.8,844.723350,65.206650
...,...,...,...,...,...,...,...,...,...,...
4514,2021-01-22,3841.47,1.10,0.09,7414942.0,95.72,1.58,6.3,3260.127942,581.342058
4515,2021-01-25,3855.36,1.05,0.09,7414942.0,95.72,1.58,6.3,3262.961103,592.398897
4516,2021-01-26,3849.62,1.05,0.09,7414942.0,95.72,1.58,6.3,3263.084706,586.535294
4517,2021-01-27,3750.77,1.04,0.09,7404926.0,95.72,1.58,6.3,3264.515037,486.254963
4518,2021-01-28,3787.38,1.07,0.09,7404926.0,95.72,1.58,6.3,3265.259283,522.120717

In [3]:
df.columns

Index(['ds', 'y', 'tby', 'ffr', 'fta', 'eps', 'div', 'une', 'fbsp', 'diff'], dtype='object')

In [24]:
ft_df = df[['diff','tby', 'ffr', 'fta', 'eps', 'div', 'une']].copy()
ft_df

            diff   tby   ffr        fta    eps   div  une
0      72.735417  4.07  1.24   732202.0  40.40  1.79  5.8
1      71.375518  4.05  1.24   732202.0  40.40  1.79  5.8
2      88.255790  4.09  1.24   732202.0  40.40  1.79  5.8
3      78.690484  4.04  1.24   732202.0  40.40  1.79  5.8
4      65.206650  4.00  1.24   724902.0  40.40  1.79  5.8
...          ...   ...   ...        ...    ...   ...  ...
4514  581.342058  1.10  0.09  7414942.0  95.72  1.58  6.3
4515  592.398897  1.05  0.09  7414942.0  95.72  1.58  6.3
4516  586.535294  1.05  0.09  7414942.0  95.72  1.58  6.3
4517  486.254963  1.04  0.09  7404926.0  95.72  1.58  6.3
4518  522.120717  1.07  0.09  7404926.0  95.72  1.58  6.3

[4519 rows x 7 columns]

In [25]:
ft_df.corr()['diff'].sort_values()

div    -0.216966
une    -0.080704
ffr    -0.036037
tby    -0.019642
eps    -0.013589
fta     0.141003
diff    1.000000
Name: diff, dtype: float64

In [26]:
ft_inv_df =1/ ft_df.copy()
ft_inv_df.corr()['diff'].sort_values()

une    -0.015977
fta    -0.009333
div    -0.007338
eps    -0.003256
tby    -0.001825
ffr     0.024693
diff    1.000000
Name: diff, dtype: float64

In [27]:
ft_log_df = np.log(ft_df).copy()
ft_log_df.corr()['diff'].sort_values()

tby    -0.296961
div    -0.097698
une    -0.076568
ffr    -0.044881
eps     0.124733
fta     0.278429
diff    1.000000
Name: diff, dtype: float64

In [28]:
ft_sq_df = (ft_df**2).copy()
ft_sq_df.corr()['diff'].sort_values()

tby    -0.227014
ffr    -0.086593
div    -0.053744
une     0.063720
eps     0.154582
fta     0.411487
diff    1.000000
Name: diff, dtype: float64

In [34]:
ft_rt_df = np.power(ft_df,1/2).copy()
ft_rt_df.corr()['diff'].sort_values()

tby    -0.418874
div    -0.156975
ffr    -0.096158
une    -0.086774
eps     0.183976
fta     0.421295
diff    1.000000
Name: diff, dtype: float64

In [37]:
ft_pol_df = np.power(ft_df,1/2).copy() + np.power(ft_df,2).copy()
ft_pol_df.corr()['diff'].sort_values()

tby    -0.291845
div    -0.156114
ffr    -0.112518
une    -0.041841
eps     0.102629
fta     0.569779
diff    1.000000
Name: diff, dtype: float64

In [52]:
ft_pol_df['div_tby'] = ft_pol_df['div'] * ft_pol_df['tby']
ft_pol_df['div_ffr'] = ft_pol_df['div'] * ft_pol_df['ffr']
ft_pol_df['tby_une'] = ft_pol_df['tby'] * ft_pol_df['une']
ft_pol_df['ffr_une'] = ft_pol_df['ffr'] * ft_pol_df['une']
ft_pol_df['eps_une'] = ft_pol_df['eps'] * ft_pol_df['une']

ft_pol_df.corr()['diff'].sort_values()

div_tby   -0.303387
tby       -0.291845
tby_une   -0.236636
div       -0.156114
ffr_une   -0.128385
div_ffr   -0.113989
ffr       -0.112518
une       -0.041841
eps_une    0.047021
eps        0.102629
fta        0.569779
diff       1.000000
Name: diff, dtype: float64

In [30]:
ft_exp_df = np.exp(ft_df).copy()
ft_exp_df.corr()['diff'].sort_values()

tby    -0.0
ffr    -0.0
div    -0.0
une    -0.0
diff    NaN
fta     NaN
eps     NaN
Name: diff, dtype: float64

In [35]:
ft_df.column

            diff   tby   ffr        fta    eps   div  une
0      72.735417  4.07  1.24   732202.0  40.40  1.79  5.8
1      71.375518  4.05  1.24   732202.0  40.40  1.79  5.8
2      88.255790  4.09  1.24   732202.0  40.40  1.79  5.8
3      78.690484  4.04  1.24   732202.0  40.40  1.79  5.8
4      65.206650  4.00  1.24   724902.0  40.40  1.79  5.8
...          ...   ...   ...        ...    ...   ...  ...
4514  581.342058  1.10  0.09  7414942.0  95.72  1.58  6.3
4515  592.398897  1.05  0.09  7414942.0  95.72  1.58  6.3
4516  586.535294  1.05  0.09  7414942.0  95.72  1.58  6.3
4517  486.254963  1.04  0.09  7404926.0  95.72  1.58  6.3
4518  522.120717  1.07  0.09  7404926.0  95.72  1.58  6.3

[4519 rows x 7 columns]

In [39]:
ft_df2 = ft_df.copy()

In [ ]:
# div    -0.216966
# une    -0.080704
# ffr    -0.036037
# tby    -0.019642
# eps    -0.013589
# fta     0.141003
# diff    1.000000

In [ ]:
del(ft_df2['div_une'] )
del(ft_df2['div_une_ffr'])

In [46]:
ft_df2['div_une'] = ft_df2['div'] * ft_df2['une']
ft_df2['div_une_ffr'] = ft_df2['div'] * ft_df2['une'] *  ft_df2['ffr']
ft_df2['div_une_eps'] = ft_df2['div'] * ft_df2['une'] *  ft_df2['eps']
ft_df2['div_une_eps'] = ft_df2['div'] * ft_df2['une'] *  ft_df2['eps']
ft_df2['div_une_eps_tby'] = ft_df2['div'] * ft_df2['une'] *  ft_df2['eps'] * ft_df2['tby']
ft_df2['div_une_eps_tby_ffr'] = ft_df2['div'] * ft_df2['une'] *  ft_df2['eps'] * ft_df2['tby']*  ft_df2['ffr']
ft_df2['une_eps_tby_ffr'] =  ft_df2['une'] *  ft_df2['eps'] * ft_df2['tby']*  ft_df2['ffr']
ft_df2['eps_tby_ffr'] =    ft_df2['eps'] * ft_df2['tby']*  ft_df2['ffr']


ft_df2.corr()['diff'].sort_values()

div                   -0.216966
div_une_eps           -0.183025
div_une               -0.153575
div_une_eps_tby       -0.092177
une                   -0.080704
div_une_ffr           -0.044643
ffr                   -0.036037
div_une_eps_tby_ffr   -0.035793
eps_tby_ffr           -0.032056
une_eps_tby_ffr       -0.030162
tby                   -0.019642
eps                   -0.013589
fta                    0.141003
diff                   1.000000
Name: diff, dtype: float64

In [42]:
ft_df2['div_une_vix'] = ft_df2['div'] * ft_df2['une'] * ft_df2['vix']

In [44]:
ft_df2['div_une_vix_ffr'] = ft_df2['div'] * ft_df2['une'] * ft_df2['vix'] * ft_df2['ffr']

In [45]:
ft_df2.corr()['y'].sort_values()

tby               -0.581425
div_une_vix       -0.507652
div_une           -0.472108
vix_une           -0.446046
une               -0.417076
vix_div           -0.405701
div_sqrt          -0.371257
div_log           -0.370707
div               -0.370303
div_sq            -0.364117
div_exp           -0.345269
vix               -0.340701
div_four          -0.339561
div_une_vix_ffr   -0.284945
vix_ffr           -0.263629
ffr               -0.102474
div_inv_tri        0.342884
div_inv            0.365361
eps                0.674035
fta                0.802776
y                  1.000000
Name: y, dtype: float64