In [42]:
import pandas as pd
import numpy as np

from numpy import meshgrid

## For plotting
import matplotlib.pyplot as plt
from matplotlib import style
import datetime as dt
import seaborn as sns
sns.set_style("whitegrid")

In [43]:
df= pd.read_csv('df6.csv', parse_dates=['Date'])
df = df.rename(columns = {"Date":"ds","Close":"y"}) 
df

             ds        y   tby   ffr        fta    eps   div  une
0    2003-01-02   909.03  4.07  1.24   732202.0  40.40  1.79  5.8
1    2003-01-03   908.59  4.05  1.24   732202.0  40.40  1.79  5.8
2    2003-01-06   929.01  4.09  1.24   732202.0  40.40  1.79  5.8
3    2003-01-07   922.93  4.04  1.24   732202.0  40.40  1.79  5.8
4    2003-01-08   909.93  4.00  1.24   724902.0  40.40  1.79  5.8
...         ...      ...   ...   ...        ...    ...   ...  ...
4515 2021-01-25  3855.36  1.05  0.09  7414942.0  95.72  1.58  6.3
4516 2021-01-26  3849.62  1.05  0.09  7414942.0  95.72  1.58  6.3
4517 2021-01-27  3750.77  1.04  0.09  7404926.0  95.72  1.58  6.3
4518 2021-01-28  3787.38  1.07  0.09  7404926.0  95.72  1.58  6.3
4519 2021-01-29  3714.24  1.11  0.09  7404926.0  95.72  1.58  6.3

[4520 rows x 8 columns]

In [44]:
from datetime import datetime
p = 0.9
# Train around 90% of dataset 
# cutoff = int((p*len(df)//100)*100)
cutoff = int(p*len(df))
df_train = df[:cutoff].copy()
df_test = df.drop(df_train.index).copy()

print(df_train, df_test)

             ds        y   tby   ffr        fta     eps   div  une
0    2003-01-02   909.03  4.07  1.24   732202.0   40.40  1.79  5.8
1    2003-01-03   908.59  4.05  1.24   732202.0   40.40  1.79  5.8
2    2003-01-06   929.01  4.09  1.24   732202.0   40.40  1.79  5.8
3    2003-01-07   922.93  4.04  1.24   732202.0   40.40  1.79  5.8
4    2003-01-08   909.93  4.00  1.24   724902.0   40.40  1.79  5.8
...         ...      ...   ...   ...        ...     ...   ...  ...
4063 2019-04-03  2873.40  2.52  2.42  3935509.0  140.03  1.96  3.7
4064 2019-04-04  2879.39  2.51  2.42  3935509.0  140.03  1.96  3.7
4065 2019-04-05  2892.74  2.50  2.42  3935509.0  140.03  1.96  3.7
4066 2019-04-08  2895.77  2.52  2.42  3935509.0  140.03  1.96  3.7
4067 2019-04-09  2878.20  2.51  2.42  3935509.0  140.03  1.96  3.7

[4068 rows x 8 columns]              ds        y   tby   ffr        fta     eps   div  une
4068 2019-04-10  2888.21  2.48  2.42  3936784.0  140.03  1.96  3.7
4069 2019-04-11  2888.32  2.51  2.42  3936784.0  140.03  1.96  3.7
4070 2019-04-12  2907.41  2.56  2.42  3936784.0  140.03  1.96  3.7
4071 2019-04-15  2905.58  2.55  2.42  3936784.0  140.03  1.96  3.7
4072 2019-04-16  2907.06  2.60  2.42  3936784.0  140.03  1.96  3.7
...         ...      ...   ...   ...        ...     ...   ...  ...
4515 2021-01-25  3855.36  1.05  0.09  7414942.0   95.72  1.58  6.3
4516 2021-01-26  3849.62  1.05  0.09  7414942.0   95.72  1.58  6.3
4517 2021-01-27  3750.77  1.04  0.09  7404926.0   95.72  1.58  6.3
4518 2021-01-28  3787.38  1.07  0.09  7404926.0   95.72  1.58  6.3
4519 2021-01-29  3714.24  1.11  0.09  7404926.0   95.72  1.58  6.3

[452 rows x 8 columns]

In [45]:
from fbprophet import Prophet
pred_size = int((1-p)* len(df))
fbp = Prophet(daily_seasonality=True)
# fit close price using fbprophet model
fbp.fit(df_train[['ds','y']])
    
 # predict pred_size futures and get the forecast price 
fut = fbp.make_future_dataframe(periods = pred_size,)
forecast = fbp.predict(fut)

In [46]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2003-01-02,892.767611,758.808296,915.235297,892.767611,892.767611,-56.473027,-56.473027,-56.473027,-49.512047,...,-2.101035,-2.101035,-2.101035,-4.859945,-4.859945,-4.859945,0.0,0.0,0.0,836.294583
1,2003-01-03,893.449309,751.873404,915.677882,893.449309,893.449309,-56.234827,-56.234827,-56.234827,-49.512047,...,-2.701664,-2.701664,-2.701664,-4.021116,-4.021116,-4.021116,0.0,0.0,0.0,837.214482
2,2003-01-06,895.494404,761.982781,915.239412,895.494404,895.494404,-54.740194,-54.740194,-54.740194,-49.512047,...,-3.643538,-3.643538,-3.643538,-1.584609,-1.584609,-1.584609,0.0,0.0,0.0,840.754210
3,2003-01-07,896.176102,768.910736,923.655985,896.176102,896.176102,-51.936586,-51.936586,-51.936586,-49.512047,...,-1.552676,-1.552676,-1.552676,-0.871863,-0.871863,-0.871863,0.0,0.0,0.0,844.239516
4,2003-01-08,896.857800,766.640322,920.297860,896.857800,896.857800,-52.134450,-52.134450,-52.134450,-49.512047,...,-2.379098,-2.379098,-2.379098,-0.243304,-0.243304,-0.243304,0.0,0.0,0.0,844.723350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,2020-06-29,3316.821668,3031.376903,3510.533432,3088.408078,3547.028235,-56.693726,-56.693726,-56.693726,-49.512047,...,-3.643538,-3.643538,-3.643538,-3.538141,-3.538141,-3.538141,0.0,0.0,0.0,3260.127942
4515,2020-06-30,3317.594247,3030.106421,3500.231506,3088.485044,3548.304223,-54.633144,-54.633144,-54.633144,-49.512047,...,-1.552676,-1.552676,-1.552676,-3.568421,-3.568421,-3.568421,0.0,0.0,0.0,3262.961103
4516,2020-07-01,3318.366825,3024.226932,3500.182932,3088.411619,3549.580211,-55.282119,-55.282119,-55.282119,-49.512047,...,-2.379098,-2.379098,-2.379098,-3.390974,-3.390974,-3.390974,0.0,0.0,0.0,3263.084706
4517,2020-07-02,3319.139403,3010.268674,3491.521417,3088.010125,3551.547517,-54.624366,-54.624366,-54.624366,-49.512047,...,-2.101035,-2.101035,-2.101035,-3.011284,-3.011284,-3.011284,0.0,0.0,0.0,3264.515037
4518,2020-07-03,3319.911982,3015.082618,3500.633050,3087.608631,3552.980406,-54.652699,-54.652699,-54.652699,-49.512047,...,-2.701664,-2.701664,-2.701664,-2.438987,-2.438987,-2.438987,0.0,0.0,0.0,3265.259283

In [47]:
df['fbsp'] = np.nan 
df['fbsp'] = forecast.yhat

In [48]:
df=df.dropna()
df['diff'] = df['y'].copy() - df['fbsp'].copy()

<ipython-input-48-c1ef86ecda73>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff'] = df['y'].copy() - df['fbsp'].copy()

In [49]:
df['ds'] = pd.to_datetime(df['ds'])
df = df.set_index(df['ds'])

<ipython-input-49-9236c9dcf51b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ds'] = pd.to_datetime(df['ds'])

In [52]:
df = df.drop(columns = 'ds')

In [53]:
df

,y,tby,ffr,fta,eps,div,une,fbsp,diff
ds,,,,,,,,,
2003-01-02,909.03,4.07,1.24,732202.0,40.40,1.79,5.8,836.294583,72.735417
2003-01-03,908.59,4.05,1.24,732202.0,40.40,1.79,5.8,837.214482,71.375518
2003-01-06,929.01,4.09,1.24,732202.0,40.40,1.79,5.8,840.754210,88.255790
2003-01-07,922.93,4.04,1.24,732202.0,40.40,1.79,5.8,844.239516,78.690484
2003-01-08,909.93,4.00,1.24,724902.0,40.40,1.79,5.8,844.723350,65.206650
...,...,...,...,...,...,...,...,...,...
2021-01-22,3841.47,1.10,0.09,7414942.0,95.72,1.58,6.3,3260.127942,581.342058
2021-01-25,3855.36,1.05,0.09,7414942.0,95.72,1.58,6.3,3262.961103,592.398897
2021-01-26,3849.62,1.05,0.09,7414942.0,95.72,1.58,6.3,3263.084706,586.535294
2021-01-27,3750.77,1.04,0.09,7404926.0,95.72,1.58,6.3,3264.515037,486.254963
2021-01-28,3787.38,1.07,0.09,7404926.0,95.72,1.58,6.3,3265.259283,522.120717

In [54]:
df.to_csv(r'/Users/yuqingdai/Documents/GitHub/Stock-Erdos/scratch work/Yuqing-Data-Merge/dff2.csv')

In [27]:
import pandas as pd
import numpy as np

from numpy import meshgrid

## For plotting
import matplotlib.pyplot as plt
from matplotlib import style
import datetime as dt
import seaborn as sns
sns.set_style("whitegrid")

In [28]:
df2= pd.read_csv('df7.csv', parse_dates=['Date'])
df2 = df2.rename(columns = {"Date":"ds","Close":"y"}) 
df2

             ds        y   tby   ffr        fta    eps   div  une     vix
0    2005-06-20  1216.10  4.11  3.04   812235.0  84.81  1.76  5.0  148.30
1    2005-06-21  1213.61  4.06  3.04   812235.0  84.81  1.76  5.0  149.00
2    2005-06-22  1213.88  3.95  3.04   811179.0  84.81  1.76  5.0  148.40
3    2005-06-23  1200.73  3.96  3.04   811179.0  84.81  1.76  5.0  150.50
4    2005-06-24  1191.57  3.92  3.04   811179.0  84.81  1.76  5.0  152.00
...         ...      ...   ...   ...        ...    ...   ...  ...     ...
3893 2021-01-25  3855.36  1.05  0.09  7414942.0  95.72  1.58  6.3   25.85
3894 2021-01-26  3849.62  1.05  0.09  7414942.0  95.72  1.58  6.3   25.30
3895 2021-01-27  3750.77  1.04  0.09  7404926.0  95.72  1.58  6.3   33.05
3896 2021-01-28  3787.38  1.07  0.09  7404926.0  95.72  1.58  6.3   30.49
3897 2021-01-29  3714.24  1.11  0.09  7404926.0  95.72  1.58  6.3   32.85

[3898 rows x 9 columns]

In [29]:
from datetime import datetime
p = 0.9
# Train around 90% of dataset 
# cutoff = int((p*len(df)//100)*100)
cutoff = int(p*len(df2))
df2_train = df2[:cutoff].copy()
df2_test = df2.drop(df2_train.index).copy()

from fbprophet import Prophet
pred_size = int((1-p)* len(df2))
fbp = Prophet(daily_seasonality=True)
# fit close price using fbprophet model
fbp.fit(df2_train[['ds','y']])
    
 # predict pred_size futures and get the forecast price 
fut = fbp.make_future_dataframe(periods = pred_size,)
forecast = fbp.predict(fut) 
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2005-06-20,1206.220427,1128.065721,1290.030791,1206.220427,1206.220427,2.909537,2.909537,2.909537,4.501782,...,-1.358736,-1.358736,-1.358736,-0.233508,-0.233508,-0.233508,0.0,0.0,0.0,1209.129964
1,2005-06-21,1206.431340,1133.815105,1287.820960,1206.431340,1206.431340,4.233639,4.233639,4.233639,4.501782,...,1.180820,1.180820,1.180820,-1.448963,-1.448963,-1.448963,0.0,0.0,0.0,1210.664979
2,2005-06-22,1206.642254,1135.275728,1284.327226,1206.642254,1206.642254,2.228165,2.228165,2.228165,4.501782,...,0.325807,0.325807,0.325807,-2.599423,-2.599423,-2.599423,0.0,0.0,0.0,1208.870419
3,2005-06-23,1206.853167,1135.071909,1283.874521,1206.853167,1206.853167,1.220525,1.220525,1.220525,4.501782,...,0.377832,0.377832,0.377832,-3.659089,-3.659089,-3.659089,0.0,0.0,0.0,1208.073692
4,2005-06-24,1207.064081,1128.490070,1281.649970,1207.064081,1207.064081,0.497711,0.497711,0.497711,4.501782,...,0.599724,0.599724,0.599724,-4.603794,-4.603794,-4.603794,0.0,0.0,0.0,1207.561792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3892,2020-07-28,3221.494132,2973.783237,3479.839456,2960.649779,3471.699809,19.743563,19.743563,19.743563,4.501782,...,1.180820,1.180820,1.180820,14.060961,14.060961,14.060961,0.0,0.0,0.0,3241.237695
3893,2020-07-29,3222.203482,2981.139670,3495.498497,2960.635047,3474.518040,18.127741,18.127741,18.127741,4.501782,...,0.325807,0.325807,0.325807,13.300152,13.300152,13.300152,0.0,0.0,0.0,3240.331223
3894,2020-07-30,3222.912832,3000.375120,3489.115978,2960.153770,3477.336271,17.312609,17.312609,17.312609,4.501782,...,0.377832,0.377832,0.377832,12.432994,12.432994,12.432994,0.0,0.0,0.0,3240.225441
3895,2020-07-31,3223.622183,2977.510731,3506.865571,2959.492773,3480.154502,16.574432,16.574432,16.574432,4.501782,...,0.599724,0.599724,0.599724,11.472927,11.472927,11.472927,0.0,0.0,0.0,3240.196615
3896,2020-08-01,3224.331533,2957.517753,3503.261316,2959.160187,3482.306696,14.372635,14.372635,14.372635,4.501782,...,-0.562722,-0.562722,-0.562722,10.433575,10.433575,10.433575,0.0,0.0,0.0,3238.704168

In [33]:
del(df2['fbsp'])

In [34]:
df2['fbsp'] = np.nan 
df2['fbsp'] = forecast.trend

<ipython-input-34-3bb76cdcdb1d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fbsp'] = np.nan
<ipython-input-34-3bb76cdcdb1d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fbsp'] = forecast.trend

In [35]:
df2=df2.dropna()
df2['diff'] = df2['y'].copy() - df2['fbsp'].copy()

In [37]:
df2

,ds,y,tby,ffr,fta,eps,div,une,vix,diff,fbsp
0,2005-06-20,1216.10,4.11,3.04,812235.0,84.81,1.76,5.0,148.30,9.879573,1206.220427
1,2005-06-21,1213.61,4.06,3.04,812235.0,84.81,1.76,5.0,149.00,7.178660,1206.431340
2,2005-06-22,1213.88,3.95,3.04,811179.0,84.81,1.76,5.0,148.40,7.237746,1206.642254
3,2005-06-23,1200.73,3.96,3.04,811179.0,84.81,1.76,5.0,150.50,-6.123167,1206.853167
4,2005-06-24,1191.57,3.92,3.04,811179.0,84.81,1.76,5.0,152.00,-15.494081,1207.064081
...,...,...,...,...,...,...,...,...,...,...,...
3892,2021-01-22,3841.47,1.10,0.09,7414942.0,95.72,1.58,6.3,24.85,619.975868,3221.494132
3893,2021-01-25,3855.36,1.05,0.09,7414942.0,95.72,1.58,6.3,25.85,633.156518,3222.203482
3894,2021-01-26,3849.62,1.05,0.09,7414942.0,95.72,1.58,6.3,25.30,626.707168,3222.912832
3895,2021-01-27,3750.77,1.04,0.09,7404926.0,95.72,1.58,6.3,33.05,527.147817,3223.622183
3896,2021-01-28,3787.38,1.07,0.09,7404926.0,95.72,1.58,6.3,30.49,563.048467,3224.331533

In [38]:
df2.to_csv(r'/Users/yuqingdai/Documents/GitHub/Stock-Erdos/scratch work/Yuqing-Data-Merge/dff4.csv')